@import "src/styles/base/vars";
.topBar {
  padding-top: 40px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .date {
      display: flex;
      align-items: center;
      column-gap: 9px;
    }
  }
}
@media (max-width: $tablet) {
  .topBar {
    padding-top: 30px;
  }
}
@media (max-width: $mobile) {
  .topBar {
    padding-top: 25px;
  }
}

.intro {
  padding: 80px 0 100px;
  .wrapper {
    .title {
      color: $accent;
      text-align: center;
      font-size: 70px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 50px;

      .headline {
        color: $accent;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
      }
      .text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
      }
      .september {
        .also {
          margin-top: 30px;
        }
      }
      .employees {
        .headline {
          text-transform: none;
          margin-bottom: 20px;
        }
        & p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .hope {
        color: $accent;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
@media (max-width: $tabletBig) {
  .intro {
    padding: 60px 0 80px;
    .wrapper {
      .title {
        font-size: 55px;
      }
      .content {
        .headline {
          font-size: 25px;
        }
        ul {
        }
        .text {
          font-size: 18px;
        }
        .hope {
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .intro {
    padding: 20px 0 40px;
    .wrapper {
      .title {
        font-size: 45px;
      }
      .content {
        row-gap: 40px;
        .headline {
          font-size: 20px;
        }
        ul {
          row-gap: 15px;
          margin-top: 15px;
        }
        .text {
          font-size: 16px;
        }

        .hope {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  .intro {
    padding: 15px 0 30px;
    .wrapper {
      .title {
        font-size: 35px;
      }
      .content {
        row-gap: 30px;

        .headline {
          font-size: 16px;
          margin-bottom: 5px;
        }
        ul {
          row-gap: 10px;
          margin-top: 15px;
        }
        .text {
          font-size: 12px;
        }
        .employees {
          & p:not(:last-child) {
            margin-bottom: 15px;
          }
        }
        .hope {
          font-size: 16px;
        }
      }
    }
  }
}
