@import "src/styles/base/vars";

.intro {
  padding: 30px 0 120px;

  .wrapper {
    .title {
      margin-bottom: 20px;
    }

    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;

      & p:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    padding: 30px 0 110px;

    .wrapper {
      display: block;

      .title {
        margin-bottom: 20px;
      }

      .text {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .intro {
    padding: 30px 0 100px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 70px;
        }
      }
      .text {
        font-size: 20px;
        & p:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    padding: 20px 0 80px;
    .wrapper {
      .title {
        .bottomText {
          font-size: 55px;
        }
      }

      .text {
        font-size: 14px;
        & p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.appeal {
  padding-bottom: 100px;
  .wrapper {
    .title {
      color: $accent;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .text {
      font-size: 25px;
      font-weight: 400;
      line-height: normal;
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: $tabletBig) {
  .appeal {
    padding-bottom: 90px;
    .wrapper {
      .title {
        font-size: 25px;
      }
      .text {
        font-size: 23px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .appeal {
    padding-bottom: 80px;
    .wrapper {
      .title {
        font-size: 20px;
      }
      .text {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .appeal {
    padding-bottom: 60px;
    .wrapper {
      .title {
        font-size: 16px;
      }
      .text {
        font-size: 12px;
      }
    }
  }
}

.application {
  padding-bottom: 80px;
  .wrapper {
    .text {
      max-width: 80%;
      margin: 0 auto;
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: $tabletBig) {
  .application {
    .wrapper {

      .text {
        font-size: 25px;
        //margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .application {
    .wrapper {

      .text {
        font-size: 20px;
        //margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .application {
    padding-bottom: 60px;
    .wrapper {
      .text {
        max-width: 100%;
        font-size: 16px;
        margin: 0 0 20px 0;
      }
    }
  }
}