@import "src/styles/base/vars";

.intro {
  padding: 30px 0 60px;
  .wrapper {
    .title {
      margin-bottom: 20px;
    }

    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 120px;
      p:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .support {
      .supportTitle {
        font-size: 30px;
        font-weight: 700;
        color: $accent;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    .wrapper {
      .title {
        .bottomText {
          font-size: 50px;
        }
      }

      .text {
        font-size: 25px;
        margin-bottom: 40px;
        p:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      .support {
        .supportTitle {
          font-size: 25px;
        }
        ul {
          row-gap: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .intro {
    padding: 30px 0 50px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 40px;
        }
      }

      .text {
        padding-right: 0;
        text-align: justify;
        font-size: 20px;
        margin-bottom: 40px;
        p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .support {
        .supportTitle {
          font-size: 23px;

        }
        ul {
          margin: 0 0 30px 0;
          row-gap: 15px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    .wrapper {
      .title {
        .bottomText {
          font-size: 55px;
        }
      }

      .text {
        font-size: 16px;
        margin-bottom: 30px;
        p:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      .support {
        .supportTitle {
          font-size: 16px;
          margin-bottom: 15px;
        }
        ul {
          row-gap: 10px;
          margin: 0 0 20px 0;
        }
      }
    }
  }
}
