@import "src/styles/base/vars";

.wrapper {
  flex: 0 1 32%;
  position: relative;
  .image {
    width: 100%;
    padding: 10px;
    height: 230px;
    background-image: url("/assets/images/article.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
  }
  .description {
    .details {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 15px;
      .imageBox {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        img {

        }
      }
      .author {
        color: $light;
        font-size: 14px;
        font-weight: 300;
        line-height: 100%;
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
      .date {
        color: rgba(236, 236, 236, 0.80);
        font-size: 12.8px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
    }
    .title {
      color: $light;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      flex: 1 1 auto;
      padding-bottom: 45px;
    }
    .arrow {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
@media (max-width: $tabletBig) {
  .wrapper {
    flex: 0 1 48.5%;
    .description {
      .arrow {
        transform-origin: 100% 100%;
        transform: scale(0.9);
      }
    }
  }
}
@media (max-width: $tablet) {
  .wrapper {
    flex: 0 1 100%;
    .description {
      .title {
        padding-bottom: 34px;
      }
      .arrow {
        transform-origin: 100% 100%;
        transform: scale(0.8);
      }
    }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    flex: 0 1 100%;
    .description {
      .details {
        .author {
          font-size: 12px;
        }
        .date {
          font-size: 10px;
        }
      }
      .title {
        font-size: 16px;
        padding-bottom: 26px;
      }
      .arrow {
        transform-origin: 100% 100%;
        transform: scale(0.6);
      }
    }
  }
}