@import "src/styles/base/vars";

.wrapper {
  height: 211px;
  width: 100%;
  //background-image: url("../../../public/assets/images/headerBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: $tablet) {
  .wrapper {
    height: 127px;
  }
}
@media (max-width: $mobile) {
  .wrapper {
    height: 89px;
  }
}