@import "src/styles/base/vars";

.intro {
  padding: 30px 0 70px;

  .wrapper {
    .title {
      margin-bottom: 20px;
    }
    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 50px;
      & p:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    .advantages {
      .description {
        color: $accent;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      ul {
        margin-left: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    padding: 30px 0 60px;

    .wrapper {
      display: block;

      .title {
        margin-bottom: 20px;
        .bottomText {
          font-size: 87px;
        }
      }

      .text {
        font-size: 25px;
      }
      .advantages {
        .description {
          font-size: 25px;
        }
        ul {
          row-gap: 25px;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .intro {
    padding: 30px 0 50px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 50px;
        }
      }
      .text {
        font-size: 20px;
        margin-bottom: 25px;
        & p:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      .advantages {
        .description {
          font-size: 20px;
        }
        ul {
          row-gap: 17px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    padding: 20px 0 40px;
    .wrapper {
      .title {
        .bottomText {
          font-size: 38px;
        }
      }
      .text {
        font-size: 14px;
        margin-bottom: 30px;
        & p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .advantages {
        .description {
          font-size: 16px;
          margin-bottom: 15px;
        }
        ul {
          row-gap: 12px;
          margin-left: 0;
        }
      }
    }
  }
}

// detail
.detail {
  background: $dark;
  padding: 60px 0 70px;

  .wrapper {
    .title {
      margin-bottom: 30px;
    }
    & p:not(:last-child) {
      margin-bottom: 20px;
    }
    .bold {
      font-weight: 700;
    }
    .light {
      font-weight: 400;
    }
  }
}

@media (max-width: $tablet) {
  .detail {
    .wrapper {
      .bottomText {
        font-size: 58px;
      }
      .favourList {
        li {
          flex: 0 1 49%;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .detail {
    padding: 40px 0 40px;

    .wrapper {
      .title {
        margin-bottom: 0;
        .bottomText {
          font-size: 45px;
        }
      }

      .favourList {
        row-gap: 10px;
        justify-content: center;

        li {
          padding: 15px 10px;
          flex: 0 1 90%;
        }
      }
    }
  }
}


.application {
  padding: 50px 0 70px;
  .wrapper {
    //max-width: 900px;

    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: $tabletBig) {
  .application {
    .wrapper {

      .text {
        font-size: 25px;
        //margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .application {
    .wrapper {

      .text {
        font-size: 20px;
        //margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .application {
    padding: 40px 0 60px;
    .wrapper {

      .text {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
