@import "src/styles/base/vars";
.intro {
  padding: 30px 0 70px;
  .wrapper {
    display: flex;
    column-gap: 70px;
    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      p {
        &:first-child {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    .wrapper {
      display: block;
      .title {
        margin-bottom: 20px;
      }
      .text {
        font-size: 25px;
        p {
          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .intro {
    .wrapper {
      .text {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .intro {
    .wrapper {
      .title {
        .bottomText {
          font-size: 65px;
        }
      }
      .text {
        font-size: 14px;
      }
    }
  }
}

// order
.order {
  background: $dark;
  padding: 60px 0;
  .wrapper {
    .title {
      margin-bottom: 30px;
    }
    .list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
}
@media (max-width: $mobile) {
  .order {
    .wrapper {
      .title {
        margin-bottom: 0;
        .bottomText {
          font-size: 55px;
        }
      }
      .list {
        row-gap: 10px;
      }
    }
  }
}

// different
.different {
  padding: 60px 0 80px;
  .wrapper {
    .title {
      color: $accent;
      font-size: 30px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10px;
      ul {
        margin-bottom: 50px;
        li {
          font-size: 25px;
          font-weight: 400;
          line-height: normal;
          position: relative;
          padding-left: 48px;
          &:before {
            content: "";
            position: absolute;
            background: $accent;
            width: 38px;
            height: 5px;
            top: 50%;
            left: 0;
          }
        }
      }
      .text {
        margin-bottom: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        padding: 0px 100px;
      }
    }
  }
}
@media (max-width: $tabletBig) {
  .different {
    .wrapper {
      .title {
        font-size: 25px;
      }
      .list {
        ul {
          margin-bottom: 40px;
          li {
            font-size: 20px;
            padding-left: 40px;
            &:before {
              width: 30px;
              height: 4px;
            }
          }
        }
        .text {
          font-size: 25px;
          padding: 0;
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .different {
    padding: 40px 0 60px;
    .wrapper {
      .title {
        font-size: 20px;
      }
      .list {
        ul {
          margin-bottom: 30px;
          li {
            font-size: 17px;
            padding-left: 35px;
            &:before {
              width: 25px;
              height: 3px;
            }
          }
        }
        .text {
          font-size: 20px;
          padding: 0;
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  .different {
    .wrapper {
      .title {
        font-size: 16px;
      }
      .list {
        ul {

          li {
            padding-left: 30px;
            font-size: 14px;

          }
        }
        .text {
          font-size: 16px;
          padding: 0;
        }
      }
    }
  }
}