@import "src/styles/base/vars";

.intro {
  padding: 30px 0 60px;

  .wrapper {
    .title {
      margin-bottom: 20px;
    }

    .text {
      padding-right: 18%;
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 50px;

      p {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    .wrapper {
      .text {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .intro {
    padding: 30px 0 50px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 55px;
        }
      }

      .text {
        padding-right: 0;
        text-align: justify;
        font-size: 20px;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    padding: 20px 0 40px;

    .wrapper {
      .title {
        margin-bottom: 10px;

        .bottomText {
          font-size: 42px;
        }
      }

      .text {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

.home {
  background: $dark;
  padding: 60px 0 70px;
  color: $light;

  .wrapper {
    .title {
      margin-bottom: 40px;

      .bottomText {
        font-size: 78px;
      }
    }

    .block {
      max-width: 800px;
      margin: 0 auto;

      .list {
        margin-bottom: 50px;

        .item {
          display: flex;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &:not(:last-child) {
            margin-bottom: 30px;
          }

          .number {
            min-width: 100px;
          }
        }
      }

      .subtext {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;

        .highlight {
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .home {
    .wrapper {
      .title {
        .bottomText {
          font-size: 58px;
        }
      }

      .block {
        max-width: 700px;

        .list {
          margin-bottom: 50px;

          .item {
            font-size: 19px;
          }
        }

        .subtext {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .home {
    .wrapper {
      .title {
        .bottomText {
          font-size: 49px;
        }
      }

      .block {
        .list {
          margin-bottom: 15px;

          .item {
            font-size: 16px;

            .number {
              min-width: 70px;
              scale: .7;
              transform-origin: 0 0;
            }
          }
        }

        .subtext {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .home {
    padding: 40px 0 50px;

    .wrapper {
      .title {
        //margin-bottom: 0;
        .bottomText {
          font-size: 35px;
        }
      }

      .block {
        .list {
          margin-bottom: 5px;

          .item {
            height: 100px;
            font-size: 12px;

            .number {
              //min-width: 60px;
              //scale: .6;
            }
          }
        }

        .subtext {
          font-size: 14px;
        }
      }
    }
  }
}

.ukraine {
  background: $dark;
  color: $light;
  padding-bottom: 60px;

  .wrapper {
    .title {
      margin-bottom: 20px;

      .bottomText {
        font-size: 84px;
      }
    }

    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      padding-right: 13%;
    }
  }
}

@media (max-width: $tabletBig) {
  .ukraine {
    .wrapper {
      .title {
        .bottomText {
          font-size: 70px;
        }
      }

      .text {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .ukraine {
    padding-bottom: 50px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 56px;
        }
      }

      .text {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .ukraine {
    padding-bottom: 40px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 43px;
        }
      }

      .text {
        font-size: 14px;
        padding: 0;
      }
    }
  }
}

.transit {
  padding: 60px 0 100px;

  .wrapper {
    font-size: 30px;

    .title {
      margin-bottom: 20px;
    }

    .text {
      //font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }

    .listOfCountries {
      color: $accent;
      //font-size: 30px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      position: relative;
      .listWrapper {
        display: flex;
        justify-content: end;
        padding-right: 10%;
      }
      ul {
        //position: absolute;
        //top: 0;
        //height: 100%;
        //right: 50%;
        text-transform: capitalize;
        color: $dark;
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .transit {
    padding: 40px 0 60px;
    .wrapper {
      font-size: 27px;
      .title {
        .bottomText {
          font-size: 74px;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .transit {
    padding: 40px 0 60px;

    .wrapper {
      font-size: 20px;
      .title {
        margin-bottom: 10px;
        .bottomText {
          font-size: 54px;
        }
      }
      .text {
        margin-bottom: 20px;
      }
      .listOfCountries {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .transit {
    padding: 40px 0 60px;

    .wrapper {
      font-size: 14px;

      .title {
        margin-bottom: 10px;

        .bottomText {
          font-size: 32px;
        }
      }

      .text {
        margin-bottom: 20px;
      }

      .listOfCountries {
        font-size: 16px;
      }
    }
  }
}

.tourist {
  padding-bottom: 80px;

  .wrapper {
    .title {
      margin-bottom: 10px;
    }

    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      padding-right: 15%;
    }
  }
}

@media (max-width: $tabletBig) {
  .tourist {
    .wrapper {
      .title {
        .bottomText {
          font-size: 74px;
        }
      }
      .text {
        font-size: 25px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .tourist {
    padding-bottom: 70px;
    .wrapper {
      .title {
        .bottomText {
          font-size: 54px;
        }
      }
      .text {
        padding: 0;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .tourist {
    padding-bottom: 60px;

    .wrapper {
      .title {
        //margin-bottom: 10px;
        .bottomText {
          font-size: 40px;
        }
      }

      .text {
        font-size: 20px;
        padding: 0;
      }
    }
  }
}
