@import "src/styles/base/vars";

.intro {
  padding: 30px 0 60px;

  .wrapper {
    .title {
      margin-bottom: 20px;
    }
    .text {
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      & p:not(:last-child) {
        margin-bottom: 50px;
      }
      .reasons {
        .headline {
          color: $accent;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        ul {
          margin-left: 30%;
          display: flex;
          flex-direction: column;
          row-gap: 30px;
        }
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .intro {
    padding: 30px 0 50px;

    .wrapper {
      display: block;

      .title {
        margin-bottom: 20px;
      }

      .text {
        font-size: 25px;
        .reasons {
          ul {
            row-gap: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .intro {

    .wrapper {
      .title {
        .bottomText {
          font-size: 75px;
        }
      }

      .text {
        font-size: 20px;

        & p:not(:last-child) {
          margin-bottom: 25px;
        }
        .reasons {
          ul {
            row-gap: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    padding: 20px 0 40px;

    .wrapper {
      .title {
        .bottomText {
          font-size: 60px;
        }
      }

      .text {
        font-size: 14px;

        & p:not(:last-child) {
          margin-bottom: 20px;
        }
        .reasons {
          .headline {
            font-size: 16px;
            margin-bottom: 10px;
          }
          ul {
            row-gap: 12px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.lists {
  padding: 60px 0;
  background: $dark;
  color: $light;
  .wrapper {
    .requirements {
      padding-bottom: 100px;
      .title {
        margin-bottom: 30px;
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
    }
    .changes {
      .title {
        margin-bottom: 30px;
      }
      .text {
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
        p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: $tabletBig) {
  .lists {
    .wrapper {
      .requirements {
        padding-bottom: 90px;
        .title {
        }
      }
      .changes {
        .title {
          .bottomText {

          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .lists {
    padding: 50px 0;
    .wrapper {
      .requirements {
        padding-bottom: 80px;
        .title {
          margin-bottom: 20px;
          .bottomText {
            font-size: 54px;
          }
        }
        ul {
          row-gap: 15px;
        }
      }
      .changes {
        .title {
          margin-bottom: 20px;
          .bottomText {
            font-size: 56px;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .lists {
    padding: 40px 0;
    .wrapper {
      .requirements {
        padding-bottom: 60px;
        .title {
          .bottomText {
            font-size: 60px;
          }
        }
        ul {
          row-gap: 10px;
        }
      }
      .changes {
        .title {
          .bottomText {
            font-size: 60px;
          }
        }
        .text {
          font-size: 12px;
          p:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
      .war {
        .title {
          .bottomText {
            font-size: 48px;
          }
        }
      }
    }
  }
}

.application {
  padding: 60px 0 80px;
  .wrapper {
    .text {
      max-width: 80%;
      margin: 0 auto;
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }
    .button {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $tabletBig) {
  .application {
    .wrapper {
      .text {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .application {
    padding: 50px 0 70px;
    .wrapper {
      .text {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .application {
    padding: 40px 0 60px;
    .wrapper {
      .text {
        max-width: 100%;
        font-size: 16px;
        margin: 0 0 20px 0;
      }
    }
  }
}
