@import "src/styles/base/vars";

.footer {
  padding: 60px 0;
  background: $dark;
  color: $light;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .logoBlock {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
      width: 240px;
      font-size: 15px;
      span {
        font-weight: 300;
        line-height: 100%;
      }
    }
    .networks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //column-gap: 10px;
      font-size: 15px;
      width: 185px;
      .icons {
        display: flex;
        column-gap: 22px;
      }
      span {
        text-align: center;
        //font-size: 15px;
        font-weight: 300;
        line-height: 100%;
      }
    }
    .info {
      text-align: right;
      font-size: 15px;
      font-weight: 300;
      line-height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 240px;
      .number {

      }
      .mail {

      }
      .adress {

      }
    }
  }
}

@media (max-width: $tabletBig) {
  .footer {
    .wrapper {
      .logoBlock {
        .logoBox {
          transform-origin: 0 50%;
          transform: scale(0.9);
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    .wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 23px;
      .logoBlock {
        font-size: 12px;
        text-align: center;
        row-gap: 5px;
        .logoBox {
          transform-origin: 50% 0;
          transform: scale(0.85);
        }
      }
      .networks {
        row-gap: 5px;
        font-size: 12px;
      }
      .info {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .footer {
    .wrapper {
      .logoBlock {
        font-size: 10px;
        .logoBox {
          transform-origin: 50% 0;
          transform: scale(0.8);
        }
      }
      .networks {
        font-size: 10px;
      }
      .info {
        font-size: 10px;
      }
    }
  }
}