@import "src/styles/base/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 82px;
  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -80px;
    background: $accent;
    width: 72px;
    height: 7px;
  }
  .top {
    color: $dark;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .bottom {
    color: $accent;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
@media (max-width: $tabletBig) {
  .wrapper {
    .top {
      font-size: 25px;
    }
    .bottom {
      font-size: 80px;
    }
  }
}
@media (max-width: $tablet) {
  .wrapper {
    .top {
      font-size: 23px;
    }
    .bottom {
      font-size: 75px;
    }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    .top {
      font-size: 20px;
    }
    .bottom {
      font-size: 65px;
    }
  }
}