@import "src/styles/base/vars";

.burgerMenu {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  height: calc(100vh - 76px);
  background: $light;
  transition: .2s;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  .wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 108.688%;
    text-transform: uppercase;
    transition: .2s;
    .active {
      color: $accent;
    }
    &.practiceOpened {
      row-gap: 30px;
    }
    .practice {
      span {
        cursor: pointer;
      }
      .practiceList {
        color: $dark;
        margin-top: 15px;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: .2s;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 108.688%; /* 32.606px */
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        &.active {
          height: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .burgerMenu {
    .wrapper {
      align-items: center;
      font-size: 35px;
      row-gap: 40px;
      .practice {
        text-align: center;
        .practiceList {
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  .burgerMenu {
    .wrapper {
      align-items: center;
      font-size: 25px;
      row-gap: 35px;
      .practice {
        .practiceList {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}